h1{
    color: blue;
    font-weight: 500;
    background-color: aqua;
    display: inline-block;
}
body{
    background-color: bisque;
}
button{
    display: block;
}
#div1{
    border: 2px solid black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    align-content: center;
}